# Dependencies
node_modules/

# Production build output
dist/
build/

# Environment variables & secrets
.env
.env.*
*.local

# System files
.DS_Store
Thumbs.db

# IDE configuration
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
